@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
#top {
    text-align: center;
}
body { 
	background-image: url('img/bg.png'); 
	background-color:black
}
#logo {
    color: white;
    background-color: rgb(0, 110, 255);
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    padding: 8px;
    margin-top: 16px;
}

#logoname {
    font-size: 32px;
    font-weight: bold;
    margin:16px;
    color:white
    
    
    
}
#navigation a {
    color: rgb(217, 255, 0);
    padding: 8px;
    font-size: 20px;
}
#navigation a:hover {
    color: rgb(0, 255, 242);
}
#uem {
    color:white;
    font-size: 20pt;
    border: none;
    font-weight: bold;
}
#uem :hover {
    text-decoration:underline;
}
#error{
    font-size: 50px;
    color:white
}
#searchtext {
    text-align: center;
    color: white;
    font-size: 20px;
}
#button {
    text-align: center;
}
::selection{
    color: #fff;
    background: #664AFF;
  }
  .wrapper{
    max-width: 450px;
    margin: 150px auto;
  }
  .wrapper .search-input{
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
  }
  .search-input input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  }
  .search-input.active input{
    border-radius: 5px 5px 0 0;
  }
  .search-input .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
  }
  .search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
  }
  .autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
  }
  .search-input.active .autocom-box li{
    display: block;
  }
  .autocom-box li:hover{
    background: #efefef;
  }
  .search-input .icon{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #644bff;
    cursor: pointer;
  }