* {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: black;
  }

  .banner {
    width: 100%;
    height: 100vh;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .menu {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    width: 120px;
    cursor: pointer;
  }
  
  .menu ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 20px; /* hinzugefügt */
  }
  
  .menu ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  
  .menu ul li:hover::after {
    width: 100%;
  }
  
  .content {
    width: 100%;
    text-align: center;
    color: black;
    position: absolute; /* entfernen /
    top: 50%; / entfernen /
    margin-top: 25%;
    display: flex; / hinzufügen /
    flex-direction: column; / hinzufügen /
    justify-content: center; / hinzufügen */
    }
  
  .content h1{
    font-size: 50px;
    margin-top: 80px;
  }
  
  .content p{
    margin: 10px auto;
    font-weight: 100;
    font-size: 24px;
  }
  .important{
    color: red;
    font-size: 24px;
  }


  .container{
  	width: 90%;
	  padding: 20px;
	  margin: 100px auto;	 
  	display: flex;
  	flex-direction: row;
  	justify-content: center;
}
	

.box{
  	width: 250px;
  	margin: 0 10px;
  	box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
  	transition: 1s;

}
.box img{
  	display: block;
  	width:100%;
  	border-radius: 5px;
}
.box:hover{
	  transform: scale(1.3);
  	z-index: 2;
}
.file {
  display: block;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.file:hover {
  background-color: #f2f2f2;
}