* {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: black;
  }
  
  .banner {
    width: 100%;
    height: 100vh;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .menu {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    width: 120px;
    cursor: pointer;
  }
  
  .menu ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 20px; /* hinzugef端gt */
  }
  
  .menu ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  
  .menu ul li:hover::after {
    width: 100%;
  }
  
  .content {
    width: 100%;
    text-align: center;
    color: black;
    position: absolute; /* entfernen /
    top: 50%; / entfernen /
    margin-top: 25%;
    display: flex; / hinzuf端gen /
    flex-direction: column; / hinzuf端gen /
    justify-content: center; / hinzuf端gen */
    }
  
  .content h1{
    font-size: 50px;
    margin-top: 80px;
  }
  
  .content p{
    margin: 10px auto;
    font-weight: 100;
    font-size: 24px;
  }
  .important{
    color: red;
    font-size: 24px;
  }


#beta



@media screen and (max-width: 768px) {
  .menu {
  padding: 20px 0;
  }
  
  .logo {
  width: 80px;
  }
  
  .menu ul li a {
  font-size: 16px;
  }
  
  .content h1{
  font-size: 40px;
  }
  
  .content p{
  font-size: 20px;
  }
  
  .important{
  font-size: 20px;
  }
  }
  
  @media screen and (max-width: 480px) {
  .menu {
  padding: 10px 0;
  }
  
  .logo {
  width: 60px;
  }
  
  .menu ul li a {
  font-size: 14px;
  }
  
  .content h1{
  font-size: 30px;
  }
  
  .content p{
  font-size: 18px;
  }
  
  .important{
  font-size: 18px;
  }
  }