html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Monument Extended", Arial, Helvetica, sans-serif;
}

body {
    color: white;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    text-align: center;
    text-transform: uppercase;
}

header h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header,
header:before {
    background: 50% 50% / cover;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: url(img/bg.jpg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

.container {
    z-index: 2;
    position: absolute;
    top: 100vh;
    background: black;
    line-height: 30px;
    font-weight: lighter;
    padding: 40px;
    color: grey;
}

#top {
    text-align: center;
}

#logo {
    color: white;
    background-color: rgb(0, 110, 255);
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    padding: 8px;
    margin-top: 16px;
}

#logoname {
    font-size: 32px;
    font-weight: bold;
    margin:16px;
    color:white
    
    
    
}
#navigation a {
    color: rgb(217, 255, 0);
    padding: 8px;
    font-size: 20px;
}
#navigation a:hover {
    color: rgb(0, 255, 242);
}
#uem {
    color:white;
    font-size: 20pt;
    border: none;
    font-weight: bold;
}
#uem :hover {
    text-decoration:underline;
}
#error{
    font-size: 50px;
    color:white
}
#vids{
    background-color: black;
}
#txt2{
    font-size: 20px;
    color: rgb(64,224,208); 
}